
{% extends 'basic/base.html' %}
{% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'css/ai.css' %}">
{% endblock %}
{% block bod %}
<a href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle-fill  text-light" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg></a>
  <form action="{% url 'ai' %}" method="post">
    {% csrf_token %}
    <div class="out" >
      
      <p style="font-size: 30px;">{{out}}</p>
      
    </div>
    <div id="suggestions" >
<h7>You can ask questions like</h7>
<p class="qus">Tell about Labour Broker</p>
<p class="qus">where we can see our details</p>
<p class="qus">how to change phone number</p>
<p class="qus">how to change address</p>

    </div>
    <div class="position-absolute top-50 start-30" id="inp">
    <input type="text" class="form-control" name="ai" placeholder="Type your questions here...">
    <button class="btn btn-primary  px-5 py-3">click</button><br>
  </div>
  
  </form>
  

{% endblock %}
